div {
    display: block;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto", arial;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header-logo img {
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-top: 25px;
}

.header-logo h1 {
    font-family: "Roboto", arial;
    font-size: 22px;
    color: #E5E7EB;
    
}

.navbar {
    display: flex;
    padding: 5px 0px 5px 100px; 
    align-items: center;
    background-color: #1F2937;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 150px 20px 0px
}
.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 12px;
    font-family: "Roboto", arial;
}
.header-link a:hover {
    opacity: 0.8;
}
/* Intro */
.intro {
    display: flex;
    background-image: linear-gradient(0, #1F2937, red);
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 90px;
    margin-top: 170px;
}
.intro-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.intro-cta h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: "Roboto", arial;
}

.intro-cta p {
    font-family: "Roboto", arial;
    opacity: 0.7;
}

.intro-cta button {
    text-align: center;
    display: block;
    width: 110px;
    border: none;
    background: rgb(180, 27, 27);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: "Roboto", arial;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.intro-cta button:hover {
    background-color: rgb(216, 99, 99);
}

.intro-image img {
    width: 500px;
    height: 350px;
}

.intro-image img:hover {
    border: 2px solid gold;
    box-sizing: border-box;
    opacity: 0.9;
}

.content {
    align-items: center;
    
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-info {
    display: flex;
    border: 1px solid gold;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid gold;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.content-info img:hover {
    opacity: 0.8;
}

.content-info p {
    font-weight: bold;
}

.quote {
    display: flex;
    background-image: linear-gradient(90deg, #1F2937, red);
    flex-direction: column;
    padding: 0 200px;
}
.quote p {
    font-size: 36px;
    color: #fff;
    font-style: italic;
    font-weight: lighter;
    font-family: "Roboto", arial;

}
b {
    font-weight: bold;
}
.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: "Roboto", arial;
    text-align: right;
    color: #fff;
}

.sign-up {
    
    margin: 50px 200px;
    padding: 20px 90px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: rgb(236, 104, 104);
    margin-bottom: 120px;
}
.sign-item {
    flex: 1;
}
.sign-text {
    text-align: left;
}

.sign-text h3 {
    color: #fff;
    font-family: "Roboto",arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.sign-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}
.sign-button button {
    color: #fff;
    background-color: transparent;
    font-family: "Roboto", arial;
    border-color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 5px 25px;
}

.sign-button button:hover {
    background-color: red;
}

.footer {
    background-color: #1F2937;
    font-family: "Roboto",arial;
    color: #fff;
    padding: 8px 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
